@page "/genre"
@using Model
@using webAssemblyLab1.Services
@inject MovieService service




@if (GenreRequest != null && movieTitle != null)
{
    <h3>Genres for the movie @movieTitle</h3>
    @foreach (var item in GenreRequest)
    {
        <div>@item.id</div>
        <div>@item.name</div>
    }
}

@code {
    public string movieTitle { get; set; }
    public IEnumerable<Model.Genre> GenreRequest { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GenreRequest = await service.GetGenreAsync();
        movieTitle = await service.GetMovieIdAsync();
    }
}
